:root {
    --main-blue: #2020b9;
}

.title-create {
    color: var(--main-blue);
}

.games-list {
    list-style: none;
    padding: 0;
}

.game-item {
    display: flex;
    align-items: center;
    margin-left: 2.5em;
}

.button-item {
    margin-left: 1em;
}

.red-text {
    color: red;
}