:root {
    --main-blue: #2020b9;
}

.main-title {
    color: var(--main-blue);
}

.games-list {
    list-style: none;
    padding: 0;
}

.game-item {
    display: flex;
    align-items: center;
    margin-left: 2.5em;
}

.spacing-left {
    margin-left: 1em;
}

.red-text {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.icon {
    width: 50px;
    height: 50px;
}

.input-centered {
    text-align: center;
}

textarea {
    width: 100%;
    height: 50%; /* Adjust height as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical; /* Allow vertical resize only */
    box-sizing: border-box; /* Ensures padding is included in width */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea::placeholder {
    text-align: center;
}
