:root {
    --main-blue: #2020b9;
}

.main-title {
    color: var(--main-blue);
}

.games-list {
    list-style: none;
    padding: 0;
}

.game-item {
    display: flex;
    align-items: center;
    margin-left: 2.5em;
}

.spacing-left {
    margin-left: 1em;
}

.red-text {
    color: red;
}